<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duykhanh.salesmanager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Controller.WIFI.WifiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.crud.UpdateUserActivity"
            android:theme="@style/AppThemeIndex"></activity>
        <activity
            android:name=".View.crud.UpdateProductActivity"
            android:theme="@style/AppThemeIndex" />
        <activity
            android:name=".View.crud.DetailProductActivity"
            android:theme="@style/AppThemeIndex" />
        <activity
            android:name=".View.ListProductActivity"
            android:theme="@style/AppThemeIndex" />
        <activity
            android:name=".View.WareHouseActivity"
            android:theme="@style/AppThemeIndex" />
        <activity
            android:name=".View.crud.AddProductActivity"
            android:parentActivityName=".View.IndexActivity"
            android:theme="@style/AppThemeIndex" />
        <activity
            android:name=".View.Login.RessetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.IndexActivity"
            android:theme="@style/AppThemeIndex" />
        <activity
            android:name=".View.Login.SplashScreenActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.MainActivity" />

        <receiver
            android:name=".Controller.WIFI.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>